@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Work Sans", sans-serif;
  /* cursor: none; */
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1024px) {
  .decoration {
    background: linear-gradient(97.49deg, #8aa8f8 -0.43%, #315bff 144.53%);
  }
}

::selection {
  background-color: #ff3c76d9;
  color: white;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 600px) {
  .lsm {
    flex-direction: row-reverse;
  }
  .normal {
    flex-direction: row;
  }
}

.group:hover {
  box-shadow: 1px 20px 46px -10px rgba(0, 71, 255, 0.89);
  border: none;
}

.spinBlur {
  animation: spinBlur 5s linear alternate infinite;
}

@keyframes spinBlur {
  0% {
    transform: translateX(-50rem);
  }
  25% {
    transform: translateY(10rem);
  }
  50% {
    transform: translateX(-50rem);
  }
  75% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateX(-50rem);
  }
}

.heart {
  animation: animateHeart 2s ease;
}

@keyframes animateHeart {
  0% {
    width: auto;
    height: auto;
  }
  100% {
    width: 50rem;
    height: 50rem;
  }
}
